/****************
GENERAL
***************/

body {
	font-family: 'Open Sans', sans-serif;
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	/*Padding to keep text away from margin*/
	padding: 0 5%;
}

a {
	text-decoration: none;
}



/****************
HEADING
***************/

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-size: 0.75em;
	margin: -5px 0 0;
	font-weight: normal;
}



/****************
Navigation
***************/
nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}



/****************
Navigation
***************/
footer {
	font-size: .75em;
	text-align: center;
	padding-top: 50px;
	color: #ccc; 
}


/****************
COLOR
***************/
body {
	background-color: #fff;
	color: #999;
}

header {
	background: #6ab47b;
	border-color: #599a68;
}

nav {
	background: #599a68;
}

h1, h2 {
	color: #fff;
}

a {
	color: #6ab47b;
}

nav a, nav a:visited {
	color: #fff;
}

nav a.selected, nav a:hover {
	color: #32673f;
}


